<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="contact" appConnect="local" components="{dmxValidator:{}}" -->
<meta name="ac:route" content="/contact">
<!-- Contact form -->
<section class="section-padding contact-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-form-wrapper">
                    <div class="contact-header">
                        <h3 class="text-light-black fw-500">Contact Us and Get a Free Consultation</h3>
                        <p class="text-dark-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="contact-form">
                        <form is="dmx-serverconnect-form" method="post" id="serverconnectform1" dmx-on:success="serverconnectform1.reset();notifies1.success('Message envoyé')" dmx-on:forbidden="notifies1.warning(content.serverconnectform1.lastError.response)" dmx-on:error="notifies1.warning(content.serverconnectform1.lastError.response)" dmx-on:unauthorized="notifies1.warning(content.serverconnectform1.lastError.response)" dmx-on:invalid="notifies1.warning(content.serverconnectform1.lastError.response)" action="/api/Vehicle/ContactUs">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-custom" name="user_name" placeholder="Your Name" required="">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-custom" name="subject" placeholder="Subject" required="">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-custom" name="email_id" placeholder="Email I'd" required="" data-rule-email="">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control form-control-custom" name="message" rows="4" placeholder="Your Message" required=""></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn-second orange-btn" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-side-sec">
                    <div class="contact-img-wrapper">
                        <div class="img-sec p-relative">
                            <img src="assets/images/contact-1.jpg" alt="#" class="img-fluid full-width">
                        </div>
                        <div class="video-btn-sec">
                            <div class="circle-box">
                                <a href="JavaScript:Void(0);" data-toggle="modal" data-target="#videomodal" class="video-btn"> <i class="flaticon-triangle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact form -->