<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" is="dmx-app" id="index" appConnect="local" components="{dmxBootstrap5Navigation:{}}" -->
<meta name="ac:route" content="/">

<!-- Slider Section -->
<section class="p-relative">
    <div class="main-slider home-2">
        <div class="slider-item">
            <img src="assets/images/banner/bannerh4.jpg" alt="Slider" class="img-fluid full-width">
            <div class="contant-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="banner-text text-center">
                                <p class="text-custom-white  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Find A Car of Your Dream</p>
                                <h1 class="text-custom-white fw-900  wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">Discover the car <br><span class="text-orange">that is right for </span> you!</h1>
                                <div class="space-30"></div> <a href="#" class="btn-second orange-btn  wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.5s">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-overlay"></div>
        </div>
        <!-- <div class="slider-item">
            <img src="assets/images/banner/bannerh4a.jpg" alt="Slider" class="img-fluid full-width">
            <div class="contant-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="banner-text text-center">
                                <p class="text-custom-white  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Find A Car of Your Dream</p>
                                <h1 class="text-custom-white fw-900  wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">Discover and Buy the car <br><span class="text-orange">that is right for </span> you!</h1>
                                <div class="space-30"></div> <a href="#" class="btn-second black-btn  wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.5s">Book Now</a><a href="#" class="btn-second orange-btn  wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.5s">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-overlay"></div>
        </div>
        <div class="slider-item">
            <img src="assets/images/banner/bannerh12.jpg" alt="Slider" class="img-fluid full-width">
            <div class="contant-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="banner-text text-center">
                                <p class="text-custom-white  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Get Your Dream Car</p>
                                <h1 class="text-custom-white fw-900  wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">Audi R8 Marine <br><span class="text-orange">$ 199</span> Monthly</h1>
                                <div class="space-30"></div> <a href="#" class="btn-second orange-btn  wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.5s">Test Drive Today</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-overlay"></div>
        </div> -->
    </div>
    <div class="main-slider-arrows">
        <div class="main-slider-prevtab slick-arrow"> <i class="flaticon-left-chevron"></i>
        </div>
        <div class="main-slider-nexttab slick-arrow"> <i class="flaticon-right-chevron"></i>
        </div>
    </div>
</section>
<!-- Slider Section -->
<!-- car-search-form -->
<div class="car-search-form-sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="car-search-form">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"> <a class="nav-link text-custom-white active" data-toggle="tab" href="#allcondition">All Condition</a>
                        </li>
                        <li class="nav-item"> <a class="nav-link text-custom-white" data-toggle="tab" href="#newcar">New Cars</a>
                        </li>
                        <li class="nav-item"> <a class="nav-link text-custom-white" data-toggle="tab" href="#usedcar">Used Cars</a>
                        </li>
                        <li class="nav-item"> <a class="nav-link text-custom-white" data-toggle="tab" href="#certifiedusedcar">Certified Used Cars</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="allcondition">
                            <form>
                                <div class="row">
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <select class="form-control form-control-custom">
                                            <option value="">Choose Make</option>
                                            <option value="acura">Acura (1)</option>
                                            <option value="bmw">BMW (2)</option>
                                            <option value="chevrolet">Chevrolet (4)</option>
                                            <option value="ford">Ford (4)</option>
                                            <option value="honda">Honda (2)</option>
                                            <option value="hyundai">Hyundai (1)</option>
                                            <option value="kia">Kia (3)</option>
                                            <option value="lamborghini">Lamborghini (1)</option>
                                            <option value="lexus">Lexus (2)</option>
                                            <option value="mazda">Mazda (3)</option>
                                            <option value="mercedes-benz">Mercedes-Benz (0)</option>
                                            <option value="nissan">Nissan (3)</option>
                                            <option value="tesla">Tesla (1)</option>
                                            <option value="toyota">Toyota (3)</option>
                                        </select>
                                    </div>
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <select class="form-control form-control-custom">
                                            <option value="">Choose Model</option>
                                            <option value="1-series">1 Series (1)</option>
                                            <option value="3-serie-model">3 Series (1)</option>
                                            <option value="370z">370Z (1)</option>
                                            <option value="5-active">5 Active (1)</option>
                                            <option value="accord">Accord (1)</option>
                                            <option value="altima">Altima (1)</option>
                                            <option value="avalon">Avalon (1)</option>
                                            <option value="c-class">C-Class (0)</option>
                                            <option value="camry">Camry (1)</option>
                                            <option value="civic">Civic (1)</option>
                                            <option value="cr-v">CR-V (0)</option>
                                            <option value="cruze">Cruze (2)</option>
                                            <option value="cx-5">CX-5 (1)</option>
                                            <option value="e-class">E-Class (0)</option>
                                            <option value="elantra">Elantra (1)</option>
                                            <option value="es-300h">ES 300h (0)</option>
                                            <option value="explorer">Explorer (1)</option>
                                            <option value="flying-spur">Flying Spur (0)</option>
                                            <option value="focus">Focus (2)</option>
                                            <option value="g-class">G-Class (0)</option>
                                            <option value="huracan">Huracan (1)</option>
                                            <option value="is-250-c">IS 250 C (1)</option>
                                            <option value="malibu">Malibu (1)</option>
                                            <option value="model-x">Model X (1)</option>
                                            <option value="mustang">Mustang (1)</option>
                                            <option value="mx-5">MX-5 (1)</option>
                                            <option value="pilot">Pilot (0)</option>
                                            <option value="rdx">RDX (1)</option>
                                            <option value="rio">Rio (1)</option>
                                            <option value="rx-350">RX 350 (1)</option>
                                            <option value="silverado">Silverado (1)</option>
                                            <option value="sorento">Sorento (1)</option>
                                            <option value="soul">Soul (1)</option>
                                            <option value="tacoma">Tacoma (1)</option>
                                            <option value="veloster">Veloster (0)</option>
                                            <option value="versa">Versa (1)</option>
                                        </select>
                                    </div>
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <select class="form-control form-control-custom">
                                            <option value="">Max Price</option>
                                            <option value="5000">$5 000</option>
                                            <option value="10000">$10 000</option>
                                            <option value="15000">$15 000</option>
                                            <option value="20000">$20 000</option>
                                            <option value="30000">$30 000</option>
                                            <option value="40000">$40 000</option>
                                            <option value="50000">$50 000</option>
                                            <option value="70000">$70 000</option>
                                            <option value="80000">$80 000</option>
                                            <option value="100000">$100 000</option>
                                        </select>
                                    </div>
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="#" class="form-control form-control-custom" placeholder="Enter a location">
                                        </div>
                                    </div>
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <button class="btn-second orange-btn full-width" type="button"><i class="flaticon-search"></i> Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="newcar">
                            <form>
                                <div class="row">
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <select class="form-control form-control-custom">
                                            <option value="">Choose Make</option>
                                            <option value="acura">Acura (1)</option>
                                            <option value="bmw">BMW (2)</option>
                                            <option value="chevrolet">Chevrolet (4)</option>
                                            <option value="ford">Ford (4)</option>
                                            <option value="honda">Honda (2)</option>
                                            <option value="hyundai">Hyundai (1)</option>
                                            <option value="kia">Kia (3)</option>
                                            <option value="lamborghini">Lamborghini (1)</option>
                                            <option value="lexus">Lexus (2)</option>
                                            <option value="mazda">Mazda (3)</option>
                                            <option value="mercedes-benz">Mercedes-Benz (0)</option>
                                            <option value="nissan">Nissan (3)</option>
                                            <option value="tesla">Tesla (1)</option>
                                            <option value="toyota">Toyota (3)</option>
                                        </select>
                                    </div>
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <select class="form-control form-control-custom">
                                            <option value="">Choose Model</option>
                                            <option value="1-series">1 Series (1)</option>
                                            <option value="3-serie-model">3 Series (1)</option>
                                            <option value="370z">370Z (1)</option>
                                            <option value="5-active">5 Active (1)</option>
                                            <option value="accord">Accord (1)</option>
                                            <option value="altima">Altima (1)</option>
                                            <option value="avalon">Avalon (1)</option>
                                            <option value="c-class">C-Class (0)</option>
                                            <option value="camry">Camry (1)</option>
                                            <option value="civic">Civic (1)</option>
                                            <option value="cr-v">CR-V (0)</option>
                                            <option value="cruze">Cruze (2)</option>
                                            <option value="cx-5">CX-5 (1)</option>
                                            <option value="e-class">E-Class (0)</option>
                                            <option value="elantra">Elantra (1)</option>
                                            <option value="es-300h">ES 300h (0)</option>
                                            <option value="explorer">Explorer (1)</option>
                                            <option value="flying-spur">Flying Spur (0)</option>
                                            <option value="focus">Focus (2)</option>
                                            <option value="g-class">G-Class (0)</option>
                                            <option value="huracan">Huracan (1)</option>
                                            <option value="is-250-c">IS 250 C (1)</option>
                                            <option value="malibu">Malibu (1)</option>
                                            <option value="model-x">Model X (1)</option>
                                            <option value="mustang">Mustang (1)</option>
                                            <option value="mx-5">MX-5 (1)</option>
                                            <option value="pilot">Pilot (0)</option>
                                            <option value="rdx">RDX (1)</option>
                                            <option value="rio">Rio (1)</option>
                                            <option value="rx-350">RX 350 (1)</option>
                                            <option value="silverado">Silverado (1)</option>
                                            <option value="sorento">Sorento (1)</option>
                                            <option value="soul">Soul (1)</option>
                                            <option value="tacoma">Tacoma (1)</option>
                                            <option value="veloster">Veloster (0)</option>
                                            <option value="versa">Versa (1)</option>
                                        </select>
                                    </div>
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <select class="form-control form-control-custom">
                                            <option value="">Max Price</option>
                                            <option value="5000">$5 000</option>
                                            <option value="10000">$10 000</option>
                                            <option value="15000">$15 000</option>
                                            <option value="20000">$20 000</option>
                                            <option value="30000">$30 000</option>
                                            <option value="40000">$40 000</option>
                                            <option value="50000">$50 000</option>
                                            <option value="70000">$70 000</option>
                                            <option value="80000">$80 000</option>
                                            <option value="100000">$100 000</option>
                                        </select>
                                    </div>
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="#" class="form-control form-control-custom" placeholder="Enter a location">
                                        </div>
                                    </div>
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <button class="btn-second orange-btn full-width" type="button"><i class="flaticon-search"></i> Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="usedcar">
                            <form>
                                <div class="row">
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <select class="form-control form-control-custom">
                                            <option value="">Choose Make</option>
                                            <option value="acura">Acura (1)</option>
                                            <option value="bmw">BMW (2)</option>
                                            <option value="chevrolet">Chevrolet (4)</option>
                                            <option value="ford">Ford (4)</option>
                                            <option value="honda">Honda (2)</option>
                                            <option value="hyundai">Hyundai (1)</option>
                                            <option value="kia">Kia (3)</option>
                                            <option value="lamborghini">Lamborghini (1)</option>
                                            <option value="lexus">Lexus (2)</option>
                                            <option value="mazda">Mazda (3)</option>
                                            <option value="mercedes-benz">Mercedes-Benz (0)</option>
                                            <option value="nissan">Nissan (3)</option>
                                            <option value="tesla">Tesla (1)</option>
                                            <option value="toyota">Toyota (3)</option>
                                        </select>
                                    </div>
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <select class="form-control form-control-custom">
                                            <option value="">Choose Model</option>
                                            <option value="1-series">1 Series (1)</option>
                                            <option value="3-serie-model">3 Series (1)</option>
                                            <option value="370z">370Z (1)</option>
                                            <option value="5-active">5 Active (1)</option>
                                            <option value="accord">Accord (1)</option>
                                            <option value="altima">Altima (1)</option>
                                            <option value="avalon">Avalon (1)</option>
                                            <option value="c-class">C-Class (0)</option>
                                            <option value="camry">Camry (1)</option>
                                            <option value="civic">Civic (1)</option>
                                            <option value="cr-v">CR-V (0)</option>
                                            <option value="cruze">Cruze (2)</option>
                                            <option value="cx-5">CX-5 (1)</option>
                                            <option value="e-class">E-Class (0)</option>
                                            <option value="elantra">Elantra (1)</option>
                                            <option value="es-300h">ES 300h (0)</option>
                                            <option value="explorer">Explorer (1)</option>
                                            <option value="flying-spur">Flying Spur (0)</option>
                                            <option value="focus">Focus (2)</option>
                                            <option value="g-class">G-Class (0)</option>
                                            <option value="huracan">Huracan (1)</option>
                                            <option value="is-250-c">IS 250 C (1)</option>
                                            <option value="malibu">Malibu (1)</option>
                                            <option value="model-x">Model X (1)</option>
                                            <option value="mustang">Mustang (1)</option>
                                            <option value="mx-5">MX-5 (1)</option>
                                            <option value="pilot">Pilot (0)</option>
                                            <option value="rdx">RDX (1)</option>
                                            <option value="rio">Rio (1)</option>
                                            <option value="rx-350">RX 350 (1)</option>
                                            <option value="silverado">Silverado (1)</option>
                                            <option value="sorento">Sorento (1)</option>
                                            <option value="soul">Soul (1)</option>
                                            <option value="tacoma">Tacoma (1)</option>
                                            <option value="veloster">Veloster (0)</option>
                                            <option value="versa">Versa (1)</option>
                                        </select>
                                    </div>
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <select class="form-control form-control-custom">
                                            <option value="">Max Price</option>
                                            <option value="5000">$5 000</option>
                                            <option value="10000">$10 000</option>
                                            <option value="15000">$15 000</option>
                                            <option value="20000">$20 000</option>
                                            <option value="30000">$30 000</option>
                                            <option value="40000">$40 000</option>
                                            <option value="50000">$50 000</option>
                                            <option value="70000">$70 000</option>
                                            <option value="80000">$80 000</option>
                                            <option value="100000">$100 000</option>
                                        </select>
                                    </div>
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="#" class="form-control form-control-custom" placeholder="Enter a location">
                                        </div>
                                    </div>
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <button class="btn-second orange-btn full-width" type="button"><i class="flaticon-search"></i> Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="certifiedusedcar">
                            <form>
                                <div class="row">
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <select class="form-control form-control-custom">
                                            <option value="">Choose Make</option>
                                            <option value="acura">Acura (1)</option>
                                            <option value="bmw">BMW (2)</option>
                                            <option value="chevrolet">Chevrolet (4)</option>
                                            <option value="ford">Ford (4)</option>
                                            <option value="honda">Honda (2)</option>
                                            <option value="hyundai">Hyundai (1)</option>
                                            <option value="kia">Kia (3)</option>
                                            <option value="lamborghini">Lamborghini (1)</option>
                                            <option value="lexus">Lexus (2)</option>
                                            <option value="mazda">Mazda (3)</option>
                                            <option value="mercedes-benz">Mercedes-Benz (0)</option>
                                            <option value="nissan">Nissan (3)</option>
                                            <option value="tesla">Tesla (1)</option>
                                            <option value="toyota">Toyota (3)</option>
                                        </select>
                                    </div>
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <select class="form-control form-control-custom">
                                            <option value="">Choose Model</option>
                                            <option value="1-series">1 Series (1)</option>
                                            <option value="3-serie-model">3 Series (1)</option>
                                            <option value="370z">370Z (1)</option>
                                            <option value="5-active">5 Active (1)</option>
                                            <option value="accord">Accord (1)</option>
                                            <option value="altima">Altima (1)</option>
                                            <option value="avalon">Avalon (1)</option>
                                            <option value="c-class">C-Class (0)</option>
                                            <option value="camry">Camry (1)</option>
                                            <option value="civic">Civic (1)</option>
                                            <option value="cr-v">CR-V (0)</option>
                                            <option value="cruze">Cruze (2)</option>
                                            <option value="cx-5">CX-5 (1)</option>
                                            <option value="e-class">E-Class (0)</option>
                                            <option value="elantra">Elantra (1)</option>
                                            <option value="es-300h">ES 300h (0)</option>
                                            <option value="explorer">Explorer (1)</option>
                                            <option value="flying-spur">Flying Spur (0)</option>
                                            <option value="focus">Focus (2)</option>
                                            <option value="g-class">G-Class (0)</option>
                                            <option value="huracan">Huracan (1)</option>
                                            <option value="is-250-c">IS 250 C (1)</option>
                                            <option value="malibu">Malibu (1)</option>
                                            <option value="model-x">Model X (1)</option>
                                            <option value="mustang">Mustang (1)</option>
                                            <option value="mx-5">MX-5 (1)</option>
                                            <option value="pilot">Pilot (0)</option>
                                            <option value="rdx">RDX (1)</option>
                                            <option value="rio">Rio (1)</option>
                                            <option value="rx-350">RX 350 (1)</option>
                                            <option value="silverado">Silverado (1)</option>
                                            <option value="sorento">Sorento (1)</option>
                                            <option value="soul">Soul (1)</option>
                                            <option value="tacoma">Tacoma (1)</option>
                                            <option value="veloster">Veloster (0)</option>
                                            <option value="versa">Versa (1)</option>
                                        </select>
                                    </div>
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <select class="form-control form-control-custom">
                                            <option value="">Max Price</option>
                                            <option value="5000">$5 000</option>
                                            <option value="10000">$10 000</option>
                                            <option value="15000">$15 000</option>
                                            <option value="20000">$20 000</option>
                                            <option value="30000">$30 000</option>
                                            <option value="40000">$40 000</option>
                                            <option value="50000">$50 000</option>
                                            <option value="70000">$70 000</option>
                                            <option value="80000">$80 000</option>
                                            <option value="100000">$100 000</option>
                                        </select>
                                    </div>
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="#" class="form-control form-control-custom" placeholder="Enter a location">
                                        </div>
                                    </div>
                                    <div class="col-xl col-lg-4 col-sm-6">
                                        <button class="btn-second orange-btn full-width" type="button"><i class="flaticon-search"></i> Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- car-search-form -->

<!-- Our Favorite Brand -->
<section class="section-padding vehicle-tab-sec bg-light-theme">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <div class="text-wrapper text-center">
                        <h3 class="fw-500 no-margin">Category</h3>
                        <span class="line-grey"></span><span class="line-orange"></span><span class="line-grey"></span>
                        <p class="text-dark-grey">A masterful combination of style, power, sporty handling and comfort. A masterful combination of style, power, sporty handling and comfort.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-2 col-lg-8">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#"> <span class="car-image">
                                <img src="assets/images/car1.jpg" class="img-fluid full-width" alt="Image">
                            </span>
                            <span class="car-name text-dark-grey">Suv</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#"> <span class="car-image">
                                <img src="assets/images/car2.jpg" class="img-fluid full-width" alt="Image">
                            </span>
                            <span class="car-name text-dark-grey">sedan</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#"> <span class="car-image">
                                <img src="assets/images/car3.jpg" class="img-fluid full-width" alt="Image">
                            </span>
                            <span class="car-name text-dark-grey">pickup</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#"> <span class="car-image">
                                <img src="assets/images/car4.jpg" class="img-fluid full-width" alt="Image">
                            </span>
                            <span class="car-name text-dark-grey">coupe</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#"> <span class="car-image">
                                <img src="assets/images/car5.jpg" class="img-fluid full-width" alt="Image">
                            </span>
                            <span class="car-name text-dark-grey">convertible</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#"> <span class="car-image">
                                <img src="assets/images/car6.jpg" class="img-fluid full-width" alt="Image">
                            </span>
                            <span class="car-name text-dark-grey">hatchback</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#"> <span class="car-image">
                                <img src="assets/images/car7.jpg" class="img-fluid full-width" alt="Image">
                            </span>
                            <span class="car-name text-dark-grey">wagon</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#"> <span class="car-image">
                                <img src="assets/images/car1.jpg" class="img-fluid full-width" alt="Image">
                            </span>
                            <span class="car-name text-dark-grey">minivan</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Our Favorite Brand -->

<!-- Find Your Best Match -->
<section class="section-padding vehicles-slider-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <div class="text-wrapper text-center">
                        <h3 class="fw-500 no-margin">Brands</h3>
                        <span class="line-grey"></span><span class="line-orange"></span><span class="line-grey"></span>
                        <p class="text-dark-grey">A masterful combination of style, power, sporty handling and comfort. A masterful combination of style, power, sporty handling and comfort.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-relative">
                <div class="vehicles-slider-for">
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo1.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Audi</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo2.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">BMW</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo3.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Cord</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo4.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Dodge</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo5.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Eagle</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo6.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Ferrari</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo7.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">GTA</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo8.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Hyundai</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo1.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Imperial</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo2.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Jaguar</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo3.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Kia</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo4.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Lamborghini</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo5.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Maserati</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo6.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Mercedes-Benz</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo1.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Nissan</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo7.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Orca</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo2.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Porsche</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo8.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Quant</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo1.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">RMR</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo2.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Suzuki</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo8.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Toyota</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo5.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Ultima</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo5.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Vauxhall</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo6.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Wanderer</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo7.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Yamaha</span>
                        </a>
                    </div>
                    <div class="vehicles-slider-item  text-center padding-10">
                        <a href="#">
                            <img src="assets/images/logos/logo8.png" class="img-fluid full-width" alt="Image"> <span class="slider-caption">Zagato</span>
                        </a>
                    </div>
                </div>
                <div class="row vehicles-border">
                    <div class="vehicles-slider-nav col-12">
                        <div class="vehicles-slider-nav-item"> <span>A</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>B</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>C</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>D</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>E</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>F</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>G</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>H</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>I</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>J</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>K</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>L</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>M</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>N</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>O</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>P</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>Q</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>R</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>S</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>T</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>U</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>V</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>W</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>X</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>Y</span>
                        </div>
                        <div class="vehicles-slider-nav-item"> <span>Z</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Find Your Best Match -->

<!-- Car Models -->
<section class="section-padding car-model-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <div class="text-wrapper text-center">
                        <h3 class="fw-500 no-margin">Discover Our Featured Models</h3>
                        <span class="line-grey"></span><span class="line-orange"></span><span class="line-grey"></span>
                        <p class="text-dark-grey">A masterful combination of style, power, sporty handling and comfort. A masterful combination of style, power, sporty handling and comfort.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-section-car-box">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="car-grid-layout-box">
                        <div class="car-grid-layout-inner text-center">
                            <h5 class="car-name"><a href="#" class="text-light-black">Acura TLX </a><span class="text-orange float-right custom-tooltip" data-tip="Add to compare"><i class="flaticon-add"></i></span></h5>
                            <h6 class="text-light-black text-uppercase mb-2">YOU'RE NOT LIKE EVERYONE ELSE</h6>
                            <p class="text-dark-grey">A masterful combination of style, power, sporty handling and comfort.</p> <span class="text-orange price-text">$25,000</span>
                            <div class="car-grid-layout-img">
                                <img src="assets/images/showcar7.jpg" class="img-fluid full-width" alt="Car img">
                            </div>
                            <div class="car-grid-layout-details"> <span class="text-dark-white"><i class="flaticon-dashboard text-orange mr-2"></i> 22,000 Km</span>
                                <span class="text-dark-white p-relative"><i class="icon-car"></i> 2012 Model</span>
                            </div>
                            <div class="car-grid-layout-location"> <span class="text-dark-white"><i class="fas fa-map-marker-alt mr-2"></i> New York</span>
                                <span class="text-dark-white"><i class="fas fa-cog mr-2"></i> Automatic</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="car-grid-layout-box">
                        <div class="car-grid-layout-inner text-center">
                            <h5 class="car-name"><a href="#" class="text-light-black">BMW 4 Series </a><span class="text-orange float-right custom-tooltip" data-tip="Add to compare"><i class="flaticon-add"></i></span></h5>
                            <h6 class="text-light-black text-uppercase mb-2">YOU'RE NOT LIKE EVERYONE ELSE</h6>
                            <p class="text-dark-grey">A masterful combination of style, power, sporty handling and comfort.</p> <span class="text-orange price-text">$20,000</span>
                            <div class="car-grid-layout-img">
                                <img src="assets/images/showcar8.jpg" class="img-fluid full-width" alt="Car img">
                            </div>
                            <div class="car-grid-layout-details"> <span class="text-dark-white"><i class="flaticon-dashboard text-orange mr-2"></i> 40,000 Km</span>
                                <span class="text-dark-white p-relative"><i class="icon-car"></i> 2008 Model</span>
                            </div>
                            <div class="car-grid-layout-location"> <span class="text-dark-white"><i class="fas fa-map-marker-alt mr-2"></i> London</span>
                                <span class="text-dark-white"><i class="fas fa-cog mr-2"></i> Manual</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="car-grid-layout-box">
                        <div class="car-grid-layout-inner text-center">
                            <h5 class="car-name"><a href="#" class="text-light-black">Audi A4 </a><span class="text-orange float-right custom-tooltip" data-tip="Add to compare"><i class="flaticon-add"></i></span></h5>
                            <h6 class="text-light-black text-uppercase mb-2">YOU'RE NOT LIKE EVERYONE ELSE</h6>
                            <p class="text-dark-grey">A masterful combination of style, power, sporty handling and comfort.</p> <span class="text-orange price-text">$30,000</span>
                            <div class="car-grid-layout-img">
                                <img src="assets/images/showcar9.jpg" class="img-fluid full-width" alt="Car img">
                            </div>
                            <div class="car-grid-layout-details"> <span class="text-dark-white"><i class="flaticon-dashboard text-orange mr-2"></i> 15,000 Km</span>
                                <span class="text-dark-white p-relative"><i class="icon-car"></i> 2014 Model</span>
                            </div>
                            <div class="car-grid-layout-location"> <span class="text-dark-white"><i class="fas fa-map-marker-alt mr-2"></i> Germany</span>
                                <span class="text-dark-white"><i class="fas fa-cog mr-2"></i> Automatic</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Car Models -->