<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="vehiclelisting" appConnect="local" components="{dmxBootstrap5Navigation:{},dmxDataTraversal:{},dmxFormatter:{},dmxPreloader:{}}" -->
<dmx-value id="var1" dmx-bind:value="formFilter.Price.value"></dmx-value>
<meta name="ac:route" content="/vehicle-listing">
<!-- listing -->
<dmx-serverconnect id="scVehicleData" url="/api/Vehicle/VehicleData"></dmx-serverconnect>
<dmx-data-view id="dvVehicleData" dmx-bind:data="scVehicleData.data.customVehicle"></dmx-data-view>
<dmx-serverconnect id="scBrands" url="/api/Brand/Brands"></dmx-serverconnect>
<dmx-serverconnect id="scVehicleCondition" url="/api/Vehicle/VehicleConditon"></dmx-serverconnect>
<dmx-serverconnect id="scVehicleBodyType" url="/api/Vehicle/VehicleType"></dmx-serverconnect>
<script is="dmx-flow" id="flowChecked" type="text/dmx-flow">{
  run: {
    action: "{{scVehicleData.load({brand: content.formFilter.selectBrands.value, type_de_vehicule: content.formFilter.VehicleCondition.value, carrosserie: content.formFilter.selectBodyType.value, killomiterage: content.formFilter.killomiterage.value, automatique: (content.formFilter.Automatique.checked?content.formFilter.Automatique.value:''), manuel: (content.formFilter.Manuel.checked?content.formFilter.Manuel.value:''), electrique: (content.formFilter.Electrique.checked?content.formFilter.Electrique.value:''), diesel: (content.formFilter.Diesel.checked?content.formFilter.Diesel.value:''), essence: (content.formFilter.Essence.checked?content.formFilter.Essence.value:''), price: content.formFilter.Price.value})}}"
  }
}</script>

<div class="section-padding listing-with-map listing-with-map-2 style-2-map-2">
    <div class="container-fluid">
        <div class="row">
            <aside class="col-xl-3 col-lg-4">
                <div class="side-search-bar">
                    <div class="title-icon">
                        <h5 class="title"><i class="flaticon-search"></i> Find a Vehicle</h5>
                    </div>
                    <div class="widget-search-filter">
                        <div class="widget-content">
                            <form id="formFilter">
                                <div class="form-group">
                                    <input type="text" name="#" class="form-control form-control-custom" placeholder="What are you looking for?">
                                </div>
                                <div class="form-group">
                                    <select id="selectBrands" class="form-select py-2" dmx-bind:options="scBrands.data.query" optiontext="Brand" optionvalue="Brand" dmx-on:changed="flowChecked.run()">
                                        <option value="">Select Brand</option>
                                    </select>
                                </div>
                                <!-- dmx-on:changed="scVehicleData.load({brand: value})" -->
                                <div class="form-group">
                                    <select class="form-select py-2" id="VehicleCondition" dmx-bind:options="content.scVehicleCondition.data.query" optiontext="Type_de_vehicule" optionvalue="Type_de_vehicule" dmx-on:changed="flowChecked.run()">
                                        <option value="">Filter By Condition</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-select py-2" id="selectBodyType" dmx-bind:options="scVehicleBodyType.data.query" optiontext="Carrosserie" optionvalue="Carrosserie" dmx-on:changed="flowChecked.run()">
                                        <option value="">Filter By Type</option>
                                    </select>
                                </div>
                                <div class="form-group"> <strong>Filter By Transmission</strong>
                                    <div class="tags-form-group">
                                        <div class="form-group">
                                            <label class="custom-checkbox">
                                                <input type="checkbox" id="Automatique" value="Automatique" dmx-on:changed="flowChecked.run()"> <span class="checkmark"></span> Automatique</label>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-checkbox">
                                                <input type="checkbox" id="Manuel" value="Manuel" dmx-on:changed="flowChecked.run()">
                                                <span class="checkmark"></span> Manuel</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group"> <strong>Filter By Carburant</strong>
                                    <div class="tags-form-group">
                                        <div class="form-group">
                                            <label class="custom-checkbox">
                                                <input type="checkbox" id="Electrique" value="Electrique" dmx-on:changed="flowChecked.run()"> <span class="checkmark"></span> Electrique</label>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-checkbox">
                                                <input type="checkbox" id="Diesel" value="Diesel" dmx-on:changed="flowChecked.run()"> <span class="checkmark"></span> Diesel</label>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-checkbox">
                                                <input type="checkbox" id="Essence" value="Essence" dmx-on:changed="flowChecked.run()"> <span class="checkmark"></span> Essence</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="search-distance-value">Radius:
                                        <input type="text" id="killomiterage" class="range-slider-value distance-value" readonly>
                                    </div>
                                    <div id="search_distance"></div>
                                </div>
                                <div class="form-group">
                                    <div class="search-search-price">Prix: € 1 - 100000
                                        <input type="text" id="Price" class="range-slider-value price-value float-left" readonly>
                                        <!---->
                                    </div>
                                    <div id="search_price"></div>
                                </div>
                                <div class="form-submit text-center">
                                    <button class="btn-second orange-btn" dmx-on:click="flowChecked.run()" dmx-class:disabled="scVehicleData.state.executing" dmx-style:cursor="(scVehicleData.state.executing?'not-allowed':'pointer')">APPLY FILTER</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="col-xl-9 col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="right-search-filter-box">
                            <div class="search-filter-options mb-0">
                                <h5 class="title2 no-margin">Cars <small class="text-dark-white fw-400 rubik">Showing {{dvVehicleData.data.length}} results</small></h5>
                                <div class="filter-by-grid-list"> <span>View As</span>
                                    <div class="filter-tab-area">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li> <a data-toggle="tab" class="active" href="#listing_grid" role="tab"><i class="fa fa-th-large"></i></a>
                                            </li>
                                            <li> <a data-toggle="tab" href="#listing_list" role="tab"><i class="fa fa-bars"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="right-section-car-box">
                                <div class="tab-content">
                                    <div id="listing_grid" class="tab-pane active">
                                        <div class="row ovrflow-slider-2" is="dmx-repeat" id="repeatVehicle" dmx-bind:repeat="dvVehicleData.data" key="VehicleID">
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
                                                <div class="car-grid-layout-box">
                                                    <div class="car-grid-layout-inner text-center">
                                                        <h5 class="car-name"><a href="#" class="text-light-black">{{Brand}}</a></h5>
                                                        <h6 class="text-light-black text-uppercase mb-2">{{Model}}</h6>
                                                        <p class="text-dark-grey">{{Energie}}</p> <span class="text-orange price-text">{{LowestPrice}} €</span>
                                                        <a href="#" dmx-bind:href="'vehicle-details/'+VehicleID+'/'+Model">
                                                            <div class="car-grid-layout-img">
                                                                <img src="#" dmx-bind:src="Vehicle_Image?Vehicle_Image:'assets/images/surprise_car.jpg'" class="img-fluid full-width" alt="Car img">
                                                            </div>
                                                        </a>
                                                        <div class="car-grid-layout-details"> <span class="text-dark-white"><i class="flaticon-dashboard text-orange mr-2"></i> {{Kilometrage}}</span>
                                                            <span class="text-dark-white p-relative"><i class="icon-car"></i> {{Carrosserie}}</span>
                                                        </div>
                                                        <div class="car-grid-layout-location"> <span class="text-dark-white"><i class="fas fa-map-marker-alt mr-2"></i> {{Emissions_de_CO2_1}}</span>
                                                            <span class="text-dark-white"><i class="fas fa-cog mr-2"></i> {{Transmission}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="listing_list" class="tab-pane fade">
                                        <div class="row ovrflow-slider-2" is="dmx-repeat" id="repeatVehicleList" dmx-bind:repeat="dvVehicleData.data" key="VehicleID">
                                            <div class="col-12">
                                                <div class="car-model-layout-list-2">
                                                    <a href="#" dmx-bind:href="'vehicle-details/'+VehicleID+'/'+Model">
                                                        <div class="car-thumbnail-area">
                                                            <div class="item-thumb">
                                                                <img src="#" dmx-bind:src="Vehicle_Image?Vehicle_Image:'assets/images/surprise_car.jpg'" class="img-fluid full-width" alt="image">
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="car-description-area">
                                                        <div class="car-description-content">
                                                            <h5 class="title"><a href="#" class="text-light-black">{{Brand}}</a> <span class="text-orange float-right custom-tooltip" data-tip="Add to compare"><i class="flaticon-add"></i></span></h5>
                                                            <h6 class="title text-light-black text-uppercase">{{Model}}</h6>
                                                            <div class="car-summary">
                                                                <p class="text-dark-grey">{{Energie}}</p>
                                                            </div>
                                                            <div class="car-details">
                                                                <div class="speed-value"><span class="text-dark-white"><i class="flaticon-dashboard text-orange mr-2"></i>{{Kilometrage}}</span>
                                                                </div>
                                                                <div class="model-icon"> <span class="text-dark-white"><i class="flaticon-car text-orange mr-2"></i> {{Transmission}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="car-description-footer"> <a href="#" class="book text-light-black"><i class="fas fa-map-marker-alt"></i> {{Carrosserie}}</a>
                                                            <a href="#" class="view">{{LowestPrice}} €</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- listing -->