<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="vehicledetails" appConnect="local" components="{dmxBootstrap5Navigation:{}}" -->
<meta name="ac:route" content="/vehicle-details">

<!-- User page bottom -->
<div class="listing-with-map car-details">
    <div class="container">
        <div class="row no-use-row">
            <div class="col-lg-8">
                <div class="image-slider-sec">
                    <div class="car-detail-slider-for">
                        <div class="slide-item">
                            <img src="assets/images/cardetails/gallery-1.jpg" class="img-fluid full-width" alt="#">
                        </div>
                        <div class="slide-item">
                            <img src="assets/images/cardetails/gallery-2.jpg" class="img-fluid full-width" alt="#">
                        </div>
                        <div class="slide-item">
                            <img src="assets/images/cardetails/gallery-3.jpg" class="img-fluid full-width" alt="#">
                        </div>
                        <div class="slide-item">
                            <img src="assets/images/cardetails/gallery-4.jpg" class="img-fluid full-width" alt="#">
                        </div>
                        <div class="slide-item">
                            <img src="assets/images/cardetails/gallery-6.jpg" class="img-fluid full-width" alt="#">
                        </div>
                        <div class="slide-item">
                            <img src="assets/images/cardetails/gallery-2.jpg" class="img-fluid full-width" alt="#">
                        </div>
                    </div>
                    <div class="car-detail-slider-nav">
                        <div class="slide-item">
                            <img src="assets/images/cardetails/gallery-1a.jpg" class="img-fluid full-width" alt="#">
                        </div>
                        <div class="slide-item">
                            <img src="assets/images/cardetails/gallery-2a.jpg" class="img-fluid full-width" alt="#">
                        </div>
                        <div class="slide-item">
                            <img src="assets/images/cardetails/gallery-3a.jpg" class="img-fluid full-width" alt="#">
                        </div>
                        <div class="slide-item">
                            <img src="assets/images/cardetails/gallery-6a.jpg" class="img-fluid full-width" alt="#">
                        </div>
                        <div class="slide-item">
                            <img src="assets/images/cardetails/gallery-5a.jpg" class="img-fluid full-width" alt="#">
                        </div>
                        <div class="slide-item">
                            <img src="assets/images/cardetails/gallery-6a.jpg" class="img-fluid full-width" alt="#">
                        </div>
                    </div>
                </div>
                <div class="car-details-tab">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#vehicle-overview">EQUIPEMENTS PRINCIPAUX</a>
                        </li>
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#tech-spec">EQUIPEMENTS</a>
                        </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#accessories">DONNÉES TECHNIQUES</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="vehicle-overview">
                            <div class="car-details-box">
                                <div class="text-wrapper">
                                    <h4 class="text-light-black">What is Lorem Ipsum?</h4>
                                    <p class="text-dark-grey">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                                    <p class="text-dark-grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                </div>
                                <div class="text-wrapper">
                                    <h4 class="text-light-black">What is Lorem Ipsum?</h4>
                                    <p class="text-dark-grey">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active" id="tech-spec">
                            <div class="car-details-box">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2">BASIC INFO</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Model Year</td>
                                                <td>2010</td>
                                            </tr>
                                            <tr>
                                                <td>No. of Owners</td>
                                                <td>4</td>
                                            </tr>
                                            <tr>
                                                <td>KMs Driven</td>
                                                <td>30,000</td>
                                            </tr>
                                            <tr>
                                                <td>Fuel Type</td>
                                                <td>Diesel</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Technical Specification</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Engine Type</td>
                                                <td>TDCI Diesel Engine</td>
                                            </tr>
                                            <tr>
                                                <td>Engine Description</td>
                                                <td>1.5KW</td>
                                            </tr>
                                            <tr>
                                                <td>No. of Cylinders</td>
                                                <td>4</td>
                                            </tr>
                                            <tr>
                                                <td>Mileage-City</td>
                                                <td>22.4kmpl</td>
                                            </tr>
                                            <tr>
                                                <td>Mileage-Highway</td>
                                                <td>25.83kmpl</td>
                                            </tr>
                                            <tr>
                                                <td>Fuel Tank Capacity</td>
                                                <td>40 (Liters)</td>
                                            </tr>
                                            <tr>
                                                <td>Seating Capacity</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <td>Transmission Type</td>
                                                <td>Manual</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="accessories">
                            <div class="car-details-box">
                                <div class="table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th colspan="2">Accessories</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Air Conditioner</td>
                                                <td><i class="fas fa-check" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>AntiLock Braking System</td>
                                                <td><i class="fas fa-check" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Power Steering</td>
                                                <td><i class="fas fa-check" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Power Windows</td>
                                                <td><i class="fas fa-check" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>CD Player</td>
                                                <td><i class="fas fa-times" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Leather Seats</td>
                                                <td><i class="fas fa-check" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Central Locking</td>
                                                <td><i class="fas fa-check" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Power Door Locks</td>
                                                <td><i class="fas fa-check" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Brake Assist</td>
                                                <td><i class="fas fa-check" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Driver Airbag</td>
                                                <td><i class="fas fa-check" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Passenger Airbag</td>
                                                <td><i class="fas fa-check" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Crash Sensor</td>
                                                <td><i class="fas fa-check" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Engine Check Warning</td>
                                                <td><i class="fas fa-check" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Automatic Headlamps</td>
                                                <td><i class="fas fa-check" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-lg-4">
                <div class="side-search-bar h-auto mb-4">
                    <div class="title-icon">
                        <h5 class="title"><i class="far fa-user"></i>Car Name</h5>
                    </div>
                    <div class="widget-search-filter">
                        <div class="widget-content">
                            <div class="author-sec">
                                <div class="author-img">
                                    <img src="assets/images/cardetails/user-1a.jpg" class="rounded-circle" alt="Author Image">
                                </div>
                                <div class="author-info">
                                    <h6><a href="#" class="text-light-black"> Mares Jean</a></h6>
                                    <p class="text-dark-grey">Since: March, 2022</p>
                                </div>
                            </div>
                            <div class="contact-details">
                                <ul>
                                    <li class="text-dark-grey"> <span><i class="fas fa-map-marker-alt"></i></span>
                                        1327 Intervale Ave, Bronx, NY</li>
                                    <li class="text-dark-grey"> <span><i class="fas fa-phone-alt"></i></span>
                                        <a href="#" class="text-dark-grey">+08 (123) 456 99</a>
                                    </li>
                                    <li class="text-dark-grey"> <span><i class="fas fa-envelope"></i></span>
                                        <a href="#" class="text-dark-grey">information@domain.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="social-media">
                                <ul>
                                    <li><a href="#" class="text-orange"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li><a href="#" class="text-orange"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#" class="text-orange"><i class="fab fa-pinterest-p"></i></a>
                                    </li>
                                    <li><a href="#" class="text-orange"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li><a href="#" class="text-orange"><i class="fab fa-youtube"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="side-search-bar h-auto mb-4">
                    <div class="title-icon">
                        <h5 class="title"><i class="far fa-user"></i> Contact
                        </h5>
                    </div>
                    <div class="widget-search-filter">
                        <div class="widget-content">

                            <div class="info-form">
                                <form>
                                    <div class="form-group">
                                        <input type="email" name="#" class="form-control form-control-custom" placeholder="Your Email">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="#" class="form-control form-control-custom" placeholder="Message" rows="4"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn-second orange-btn full-width">SEND MESSAGE</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="side-search-bar h-auto mb-4">
                    <div class="title-icon">
                        <h5 class="title"><i class="flaticon-frame"></i> Sponsored Car</h5>
                    </div>
                    <div class="widget-search-filter mb-0">
                        <div class="widget-content">
                            <div class="car-grid-layout-box mb-4">
                                <div class="car-grid-layout-inner text-center">
                                    <h5 class="car-name"><a href="#" class="text-light-black">Acura TLX </a><span class="text-orange float-right custom-tooltip" data-tip="Add to compare"><i class="flaticon-add"></i></span></h5>
                                    <h6 class="text-light-black text-uppercase mb-2">Lorem ipsum dolor sit amet</h6>
                                    <p class="text-dark-grey">A masterful combination of style, power, sporty handling and comfort.</p> <span class="text-orange price-text">$25,000</span>
                                    <div class="car-grid-layout-img">
                                        <img src="assets/images/showcar2.jpg" class="img-fluid full-width" alt="Car img">
                                    </div>
                                    <div class="car-grid-layout-details"> <span class="text-dark-white"><i class="flaticon-dashboard text-orange mr-2"></i> 20,000 Km</span>
                                        <span class="text-dark-white p-relative"><i class="icon-car"></i> 2010 Model</span>
                                    </div>
                                    <div class="car-grid-layout-location"> <span class="text-dark-white"><i class="fas fa-map-marker-alt mr-2"></i> New York</span>
                                        <span class="text-dark-white"><i class="fas fa-cog mr-2"></i> Automatic</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="side-search-bar h-auto mb-4">
                    <div class="title-icon">
                        <h5 class="title"><i class="flaticon-eye"></i> Recent Viewed Lisitng</h5>
                    </div>
                    <div class="widget-search-filter">
                        <div class="widget-content">
                            <div class="recent-item">
                                <div class="recent-thumbnail-area">
                                    <div class="item-thumb">
                                        <img src="assets/images/car/105x99/car-3.jpg" class="img-fluid full-width" alt="Thumbnail">
                                    </div>
                                    <!--./ item-thumb -->
                                </div>
                                <!--./ todo-thumbnail-area -->
                                <div class="content-entry-wrap">
                                    <div class="recent-content">
                                        <h6 class="title"><a href="#" class=" text-light-black">Luxury Car</a></h6>
                                        <div class="recent-rating">
                                            <div class="rating-value"> <span>4.8</span>16 Ratings</div>
                                        </div>
                                        <!--./ todo-rating -->
                                        <div class="recent-meta">
                                            <div class="recent-location"> <i class="fas fa-map-marker-alt"></i>
                                                Barcelona, ES</div>
                                            <div class="recent-number"> <i class="fas fa-phone-alt"></i>
                                                +34 2 2458752</div>
                                        </div>
                                        <!--./ todo-meta -->
                                    </div>
                                    <!--./ todo-content -->
                                </div>
                                <!--./ content-entry-wrap -->
                            </div>
                            <div class="recent-item">
                                <div class="recent-thumbnail-area">
                                    <div class="item-thumb">
                                        <img src="assets/images/car/105x99/car-2.jpg" class="img-fluid full-width" alt="Thumbnail">
                                    </div>
                                    <!--./ item-thumb -->
                                </div>
                                <!--./ todo-thumbnail-area -->
                                <div class="content-entry-wrap">
                                    <div class="recent-content">
                                        <h6 class="title"><a href="#" class=" text-light-black">Sports Car</a></h6>
                                        <div class="recent-rating">
                                            <div class="rating-value"> <span>4.5</span>14 Ratings</div>
                                        </div>
                                        <!--./ todo-rating -->
                                        <div class="recent-meta">
                                            <div class="recent-location"> <i class="fas fa-map-marker-alt"></i>
                                                New York</div>
                                            <div class="recent-number"> <i class="fas fa-phone-alt"></i>
                                                +34 2 2458752</div>
                                        </div>
                                        <!--./ todo-meta -->
                                    </div>
                                    <!--./ todo-content -->
                                </div>
                                <!--./ content-entry-wrap -->
                            </div>
                            <div class="recent-item">
                                <div class="recent-thumbnail-area">
                                    <div class="item-thumb">
                                        <img src="assets/images/car/105x99/car-1.jpg" class="img-fluid full-width" alt="Thumbnail">
                                    </div>
                                    <!--./ item-thumb -->
                                </div>
                                <!--./ todo-thumbnail-area -->
                                <div class="content-entry-wrap">
                                    <div class="recent-content">
                                        <h6 class="title"><a href="#" class=" text-light-black">Vintage Car</a></h6>
                                        <div class="recent-rating">
                                            <div class="rating-value"> <span>5.0</span>20 Ratings</div>
                                        </div>
                                        <!--./ todo-rating -->
                                        <div class="recent-meta">
                                            <div class="recent-location"> <i class="fas fa-map-marker-alt"></i>
                                                London</div>
                                            <div class="recent-number"> <i class="fas fa-phone-alt"></i>
                                                +34 2 2458752</div>
                                        </div>
                                        <!--./ todo-meta -->
                                    </div>
                                    <!--./ todo-content -->
                                </div>
                                <!--./ content-entry-wrap -->
                            </div>
                            <div class="recent-item">
                                <div class="recent-thumbnail-area">
                                    <div class="item-thumb">
                                        <img src="assets/images/car/105x99/car-5.jpg" class="img-fluid full-width" alt="Thumbnail">
                                    </div>
                                    <!--./ item-thumb -->
                                </div>
                                <!--./ todo-thumbnail-area -->
                                <div class="content-entry-wrap">
                                    <div class="recent-content">
                                        <h6 class="title"><a href="#" class=" text-light-black">Economy Car</a></h6>
                                        <div class="recent-rating">
                                            <div class="rating-value"> <span>3.2</span>10 Ratings</div>
                                        </div>
                                        <!--./ todo-rating -->
                                        <div class="recent-meta">
                                            <div class="recent-location"> <i class="fas fa-map-marker-alt"></i>
                                                France</div>
                                            <div class="recent-number"> <i class="fas fa-phone-alt"></i>
                                                +34 2 2458752</div>
                                        </div>
                                        <!--./ todo-meta -->
                                    </div>
                                    <!--./ todo-content -->
                                </div>
                                <!--./ content-entry-wrap -->
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
<!-- User page bottom -->